<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
	<connectionStrings>
		<add connectionString="Data base=DESKTOP-D51RLD1\SQLEXPRESS; Initial catalog = wcfextensions; Intrgated security= true;" name="cs" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<system.serviceModel>
		<services>
			<service name="Service.PersonService" behaviorConfiguration="basicBehavior">
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost/WcfExt"/>
					</baseAddresses>
				</host>
				<endpoint address="" binding="basicHttpBinding" contract="Contracts.IPersonService"></endpoint>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"></endpoint>
			</service>			
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior name="basicBehavior">
					<serviceDebug httpHelpPageEnabled="true"/>
					<serviceMetadata httpGetEnabled="true"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>
</configuration>