<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
	<connectionStrings>
		<add connectionString="Data Source=DESKTOP-D51RLD1\SQLEXPRESS;Initial Catalog=wcfextensions; Integrated Security=true;" name="cs" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<system.serviceModel>
		<services>
			<service name="Service.PersonService" behaviorConfiguration="basicBehavior">
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:81/WcfExt" />
					</baseAddresses>
				</host>
				<endpoint address="" binding="basicHttpBinding" contract="Contracts.IPersonService"></endpoint>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"></endpoint>
			</service>			
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior name="basicBehavior">
					<serviceDebug httpHelpPageEnabled="true" includeExceptionDetailInFaults="true" />
					<serviceMetadata httpGetEnabled="true" />					
				</behavior>
				
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>
</configuration>